<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>User Selection<span th:text="${guess}"></span></p>
<p>Random Number<span th:text="${randomNum}"></span></p>

<p th:if="${guess == randomNum}">You Win</p>
<p th:if="${guess != randomNum}">You Loose</p>
    <p><a href="/roll-dice/1">1</a></p>
    <p><a href="/roll-dice/2">2</a></p>
    <p><a href="/roll-dice/3">3</a></p>
    <p><a href="/roll-dice/4">4</a></p>
    <p><a href="/roll-dice/5">5</a></p>
    <p><a href="/roll-dice/6">6</a></p>

</body>
</html>